<h1>Total: <%= number_to_currency @cart.total/100.0 %></h1>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @products %>
  </tbody>
</table>
